:root {
    --primary-black: #191A19;
    --primary-green: #1E5128;
    --secondary-green: #4E9F3D;
    --tertiary-green: #D8E9A8;
    --primary-white: #ffffff;
    --primary-gradient: linear-gradient(90deg, var(--secondary-green), var(--primary-black));
}
*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0%;
    padding: 0%;
    outline: none;
    border: none;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}
html {
    font-size: 62.5%;
    overflow: scroll;
    scroll-behavior: smooth;
}
body{
    background-color: var(--primary-white);
}
header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: var(--primary-white);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
header .logo {
    font-size: 2rem;
    color: var(--secondary-green);
}
header .logo span {
    color: var(--primary-green);
}
header .navbar a {
    font-size: 1.8rem;
    margin-left: 2rem;
    color: var(--primary-green);
}
header .navbar a:hover {
    color: var(--secondary-green);
}
header input {
    display: none;
}
header label {
    font-size: 3rem;
    color: var(--primary-green);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}
section {
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7rem;
    padding-bottom: 2rem;
}
.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://images.pexels.com/photos/1353938/pexels-photo-1353938.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat;
    background-size: cover;
    background-position: center;
}
.inicio .image img {
    width: 35vw;
    margin: -5vw;
    animation: float 3s linear infinite;
}
@keyframes float {
    0%, 100% {
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(-1.5rem);
    }
}
.inicio .content h3 {
    font-size: 5.0rem;
    color: var(--primary-green);
    text-transform: uppercase;
}
.inicio .content h3 span {
    color: var(--secondary-green);
    text-transform: uppercase;
}
.inicio .content p {
    font-size: 1.7rem;
    color: black;
    padding: 1rem 0%;
}
.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: var(--primary-gradient);
    font-size: 1.8rem;
    color: var(--primary-white);
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    transition: all .3s linear;
}
.btn:hover {
    transform: scale(1.1);
}
.heading {
    text-align: center;
    background: var(--primary-green);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 1rem;
}
.detalles .caja-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.detalles .caja-contenedor .caja {
    flex: 1 1 30rem;
    background: var(--primary-white);
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    margin: 1.5rem;
    padding: 3rem 2rem;
    border-radius: .5rem;
    text-align: center;
    transition: .2 linear;
}
.detalles .caja-contenedor .caja h3 {
    font-size: 2rem;
    color: var(--primary-green);
    padding-top: 1rem;
}
.detalles .caja-contenedor .caja p {
    font-size: 1.3rem;
    color: var(--primary-black);
    padding: 1rem 0;
}
.detalles .caja-contenedor .caja img {
    height: 15rem;
}
.acerca_de {
    background: url(https://static.vecteezy.com/system/resources/previews/010/330/732/non_2x/green-nature-color-watercolor-paint-stain-background-circle-free-png.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 3rem;
}
.acerca_de .columna {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.acerca_de .columna .image {
    flex: 1 1 40rem;
}
.acerca_de .columna .image img {
    border-radius: 50%;
    width: 90%;
}
.acerca_de .columna .content {
    flex: 1 1 40rem;
}
.acerca_de .columna .content h3 {
    font-size: 3rem;
    color: var(--primary-green);
}
.acerca_de .columna .content p {
    font-size: 1.5rem;
    color: var(--primary-black);
    padding: 1rem 0%;
}
.acerca_de .columna .content .buttons a:last-child {
    margin-left: 2rem;
}
.suscribete {
    text-align: center;
    padding: 5rem 1rem;
    background: url(https://static.vecteezy.com/system/resources/previews/006/726/244/non_2x/nature-of-green-leaf-in-garden-at-summer-natural-green-leaves-plants-using-as-spring-background-cover-page-greenery-environment-ecology-wallpaper-free-photo.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.suscribete h3 {
    color: var(--primary-black);
    font-size: 3rem;
    text-transform: uppercase;
}
.suscribete p {
    color: var(--primary-black);
    font-size: 1.6rem;
    margin: 2rem auto;
    width: 70rem;
}
.suscribete form {
    display: flex;
    max-width: 70rem;
    border: .2rem solid whitesmoke;
    padding: .5rem;
    border-radius: 5rem;
    margin: 2rem auto;
    height: 5.5rem;
}
.suscribete form input[type ="email"] {
    padding: 0 2rem;
    font-size: 1.7rem;
    background: none;
    width: 100%;
    color: var(--primary-green);
    text-transform: none;
}
.suscribete form input[type ="email"]::placeholder {
    color: var(--primary-green);
    text-transform: capitalize;
    background: none;
}
.suscribete form input[type="submit"] {
    background: var(--secondary-green);
    width: 20rem;
    font-size: 1.7rem;
    border-radius: 5rem;
    cursor: pointer;
}
.suscribete form input[type="submit"]:hover {
    color: var(--primary-green);
}
.opiniones .caja-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.opiniones .caja-contenedor .caja {
    background: var(--primary-white);
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    flex: 1 1 30rem;
    border-radius: .5rem;
}
.opiniones .caja-contenedor .caja .fa-duotone fa-rectangle-terminal {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 8rem;
    color: var(--secondary-green);
    opacity: .3;
}
.opiniones .caja-contenedor .caja .fa-duotone .user img {
    border-radius: 50%;
    object-fit: cover;
    height: 8rem;
    width: 8rem;
    margin-top: 2rem;
}
.opiniones .caja-contenedor .caja .fa-duotone .user h3 {
    color: var(--primary-green);
    font-size: 2rem;
}
.opiniones .caja-contenedor .caja .user .fa-solid fa-star i {
    color: var(--primary-green);
    font-size: 1.5rem;
    padding: 1rem 0%;
}
.opiniones .caja-contenedor .caja .comentarios {
    color: var(--primary-black);
    font-size: 1.5rem;
    padding: 1rem;
}
.precios .caja-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.precios .caja-contenedor .caja {
    flex: 1 1 25rem;
    margin: 1rem;
    padding: 1rem;
    background: var(--primary-white);
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    text-align: center;
    padding-bottom: 3rem;
}
.precios .caja-contenedor .caja:nth-child(2),
.precios .caja-contenedor .caja:hover {
    border: .2rem solid --secondary-green; 
}
.precios .caja-contenedor .caja .titulo {
    color: var(--primary-green);
    font-size: 2.5rem;
    padding-top: 1rem;
}
.precios .caja-contenedor .caja .tipos {
    font-size: 4rem;
    color: var(--secondary-green);
    padding: 1rem 0%;
}
.precios .caja-contenedor .caja .tipos span {
    font-size: 2rem;
}
.precios .caja-contenedor .caja ul {
    padding: 1rem 0%;
    list-style: none;
}
.precios .caja-contenedor .caja ul li {
    font-size: 1.7rem;
    color: var(--primary-black);
    padding: .5rem 0%;
}
.precios .caja-contenedor .caja ul li .fa-solid .fa-check {
    color: var(--secondary-green);
}
@media (max-width:1200px) {
    html {
        font-size: 55%;
    }
}
@media (max-width:990px) {
    section {
        padding: 0 3%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
    }
}
@media (max-width:768px) {
    header label {
        visibility: visible;
        opacity: 1;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        background-color: var(--primary-white);
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .2s linear;
    }
    header .navbar a {
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }
    header input:checked ~ .navbar {
        transform: scaleY(1);
        opacity: 1;
    }
    header input:checked ~ label::before {
        content: '\f00d';
        opacity: 1;
    }
    .inicio {
        flex-flow: column-reverse;
    }
    .inicio .image img {
        margin: 0%;
        width: 100%;
    }
    .inicio .content h3 {
        font-size: 3.5rem;
    }
    .inicio .content p {
        font-size: 1.5rem;
    }
    .acerca_de {
        background: right;
    }
    .suscribete p{
        width: auto;
    }
}
@media (max-width:450px) {
    html {
        font-size: 49%;
    }
    .acerca_de .columna .content .buttons a {
        width: 100%;
        text-align: center;
    }
    .acerca_de .columna .content .buttons a:last-child {
        margin: 1rem 0%;
    }
}
