:root {
    --primary-black: #191A19;
    --primary-green: #1E5128;
    --secondary-green: #4E9F3D;
    --tertiary-green: #D8E9A8;
    --primary-white: #ffffff;
    --primary-gradient: linear-gradient(90deg, var(--secondary-green), var(--primary-black));
}
*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0%;
    padding: 0%;
    outline: none;
    border: none;
    text-transform: capitalize;
}
html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    scroll-behavior: smooth;
}
body{
    background-color: var(--primary-white);
}
header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: var(--primary-white);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
header .logo {
    font-size: 2rem;
    color: var(--secondary-green);
}
header .logo span {
    color: var(--primary-green);
}
header .navbar a {
    font-size: 1.8rem;
    margin-left: 2rem;
    color: var(--primary-green);
}
header .navbar a:hover {
    color: var(--secondary-green);
}
header input {
    display: none;
}
header svg {
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}
@media (max-width:1200px) {
    html {
        font-size: 55%;
    }
}
@media (max-width:768px) {
    header svg {
        visibility: visible;
        opacity: 1;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        background-color: var(--primary-white);
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
    }
    header .navbar a {
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }
    header input:checked ~ .navbar {
        transform: scaleY(1);
        opacity: 1;
    }
}
@media (max-width:450px) {
    html {
        font-size: 49%;
    }
}
