:root {
    --primary-blue: #1a75ffff;
    --primary-white: #ffffffff;
    --primary-black: black;
    --secondary-black: #222222ff;
    --tertiary-black: #3e3e3eff;
}
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    background-color: var(--primary-black);
    color: var(--primary-white);
    scroll-behavior: smooth;
}
section {
    background-color: var(--secondary-black);
    border-radius: 10px;
    margin: 5px 5px 15px 5px;
}
.presentation {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 310px;
    height: 360px;
    text-align: center;
}
.presentation__photo {
    width: 200px;
    border-radius: 50%;
    align-self: center;
}
.presentation__content {
    margin: 10px 30px;
}
.presentation__actions button {
    color: var(--primary-white);
    border-radius: 5px;
    margin: 2.5px;
    border: none;
    width: 45%;
    height: 30px;
    max-width: 230px;
}
.presentation__actions--contact {
    background-color: var(--primary-blue);
}
.presentation__actions--message {
    background-color: var(--tertiary-black);
}
.presentation__divisions {
    width: 90%;
    margin: 10px 0px 5px 0px;
    align-self: center;
}